BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "dig[0]" SITE "PR5C" ;
LOCATE COMP "dig[1]" SITE "PB20C" ;
LOCATE COMP "dig[2]" SITE "PB11B" ;
LOCATE COMP "dig[3]" SITE "PB9B" ;
LOCATE COMP "seg[0]" SITE "PR5D" ;
LOCATE COMP "seg[1]" SITE "PB11A" ;
LOCATE COMP "seg[2]" SITE "PB6D" ;
LOCATE COMP "seg[3]" SITE "PB4C" ;
LOCATE COMP "seg[4]" SITE "PL9B" ;
LOCATE COMP "seg[5]" SITE "PB20D" ;
LOCATE COMP "seg[6]" SITE "PB9A" ;
LOCATE COMP "seg[7]" SITE "PB6C" ;
IOBUF ALLPORTS IO_TYPE=LVCMOS33 ;
IOBUF PORT "dig[0]" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
IOBUF PORT "dig[1]" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
IOBUF PORT "dig[2]" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
IOBUF PORT "dig[3]" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
IOBUF PORT "seg[0]" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
IOBUF PORT "seg[1]" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
IOBUF PORT "seg[2]" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
IOBUF PORT "seg[3]" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
IOBUF PORT "seg[4]" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
IOBUF PORT "seg[5]" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
IOBUF PORT "seg[6]" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
IOBUF PORT "seg[7]" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
LOCATE COMP "res" SITE "PL9A" ;
IOBUF PORT "res" PULLMODE=UP IO_TYPE=LVCMOS33 ;
