BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
IOBUF ALLPORTS IO_TYPE=LVCMOS33 ;
LOCATE COMP "res" SITE "PL9A" ;
IOBUF PORT "res" PULLMODE=UP IO_TYPE=LVCMOS33 ;
LOCATE COMP "rx" SITE "PB11A" ;
LOCATE COMP "tx" SITE "PB11B" ;
IOBUF PORT "rx" PULLMODE=DOWN IO_TYPE=LVCMOS33 ;
