BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
IOBUF ALLPORTS IO_TYPE=LVCMOS33 ;
IOBUF PORT "res" PULLMODE=UP IO_TYPE=LVCMOS33 ;
IOBUF PORT "rx" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
IOBUF PORT "gpio[0]" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
IOBUF PORT "gpio[1]" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
IOBUF PORT "gpio[2]" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
IOBUF PORT "gpio[3]" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
IOBUF PORT "gpio[4]" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
IOBUF PORT "gpio[5]" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
IOBUF PORT "gpio[6]" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
IOBUF PORT "gpio[7]" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
IOBUF PORT "gpio[8]" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
IOBUF PORT "gpio[9]" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
IOBUF PORT "gpio[10]" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
IOBUF PORT "gpio[11]" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
IOBUF PORT "gpio[12]" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
IOBUF PORT "gpio[13]" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
IOBUF PORT "gpio[14]" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
IOBUF PORT "tx" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
LOCATE COMP "res" SITE "PL9A" ;
LOCATE COMP "rx" SITE "PT15D" ;
LOCATE COMP "tx" SITE "PT17D" ;
LOCATE COMP "gpio[8]" SITE "PB20D" ;
LOCATE COMP "gpio[9]" SITE "PB6D" ;
LOCATE COMP "gpio[10]" SITE "PB6C" ;
LOCATE COMP "gpio[11]" SITE "PB4C" ;
LOCATE COMP "gpio[0]" SITE "PB20C" ;
LOCATE COMP "gpio[1]" SITE "PB11B" ;
LOCATE COMP "gpio[2]" SITE "PB9B" ;
LOCATE COMP "gpio[3]" SITE "PB9A" ;
LOCATE COMP "gpio[4]" SITE "PB11A" ;
LOCATE COMP "gpio[5]" SITE "PR5D" ;
LOCATE COMP "gpio[6]" SITE "PL9B" ;
LOCATE COMP "gpio[7]" SITE "PR5C" ;
LOCATE COMP "gpio[12]" SITE "PT12D" ;
LOCATE COMP "gpio[13]" SITE "PT12C" ;
LOCATE COMP "gpio[14]" SITE "PT15C" ;
