BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
IOBUF ALLPORTS IO_TYPE=LVCMOS33 ;
LOCATE COMP "res" SITE "PL9A" ;
IOBUF PORT "res" PULLMODE=UP IO_TYPE=LVCMOS33 ;
LOCATE COMP "rx" SITE "PT17D" ;
LOCATE COMP "tx" SITE "PT15D" ;
IOBUF PORT "rx" PULLMODE=DOWN IO_TYPE=LVCMOS33 ;
